/*
Errno::ENOENT: No such file or directory - style.scss

Backtrace:
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:339:in `read'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:235:in `watch'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin.rb:107:in `method_missing'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:444:in `watch_or_update'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:307:in `process_result'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:41:in `parse'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:21:in `parse!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/bin/sass:8:in `<top (required)>'
C:/Ruby192/bin/sass:19:in `load'
C:/Ruby192/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - style.scss"; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  height: 90px;
  width: 90px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-activity {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: -30px;
  top: -30px;
  height: 90px;
  width: 90px;
  display: block;
  border-width: 30px;
  border-style: double;
  border-color: #29d transparent transparent;
  border-radius: 50%;

  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #29d transparent transparent;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}
